* {
  margin: 0;
  padding: 0;
}
.dashboardWrapper {
  width: 600px;
  margin: 10px;
}
progress {
  width: 100%;
  margin: 10px 0;
}
.formWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 10px;
  font-family: Verdana;
}
.formItem {
  width: 200px;
}
.formButton {
  width: 70px;
  height: 30px;
}
.formButton button {
  width: 100%;
  height: 100%;
  font-size: 10px;
  font-family: Verdana;
}
